.button {
  margin-left: 16px;
}
.container {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 8px;
}
.memoWrapper {
  display: flex;
  align-items: center;
}
.deleteButton {
  background-color: red;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}
